* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

:root {
    --primary-color: #5E1858;
    --secondery-color: #EBEAFA;
    --white: #FFFFFF;
    --text: #2D2746;

}

header {
    background-color: var(--primary-color);

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fakthlavni {margin:20px ;}

a {
    text-decoration: none;

}

h1,
h2,
p {
    color: var(--text);
    margin-bottom: 1rem;

}

.container {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

.poli {
    color: var(--white);
    font-weight: 700;
    font-size: 26px;
margin: 15px;
}

.hlavni {
    margin: 1rem;
}

nav a {
    color: var(--white);
    font-weight: 400;
    font-size: 21px;
margin: 15px;
}

img {
    max-width: 100%;
    height: auto;

}

.text {
    background-color: var(--secondery-color);
    margin: 1rem;
    padding: 20px;
    width: 33%;
}

.row {
    display: flex;
    flex-direction: row;
margin-left: -1rem;
margin-right: -1rem;
}



.galery {display: flex;
flex-direction: row;

}

.photo {padding: 0.5rem;}

.galery-photo {height: auto;}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;

}


@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
    html {
        font-size: 17px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
     html {
        font-size: 18px;
    }
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width:786px) {
    .row {
        flex-direction: column;

    }
    .text {width: 100%;
margin: 10px;
    }

    .fotky img {width: 100%;
    margin: 10px;}

}